# Este é um exemplo de Notebook

<p>Você pode criar parágrafos simplesmente escrevendo o texto como preferir.</p>

Para códigos, adicione <code>&#96;</code> antes e <code>&#96;</code> depois para códigos de uma linha, e <code>&#96;&#96;&#96;</code> antes e <code>&#96;&#96;&#96;</code> depois para códigos de várias linhas. **Exemplo de uma linha:** `print(123)`.

**Exemplo de várias linhas:**

```python
lista = [
    {'nome': 'Luiz', 'sobrenome': 'miranda'},
    {'nome': 'Maria', 'sobrenome': 'Oliveira'},
    {'nome': 'Daniel', 'sobrenome': 'Silva'},
    {'nome': 'Eduardo', 'sobrenome': 'Moreira'},
    {'nome': 'Aline', 'sobrenome': 'Souza'},
]
```

## Negrito e itálico

* \** e \** - **Negrito**
* \* e \* - *Itálico*

## Blockquote

Responder as perguntas dos coleguinhas, pode te ajudar a aprender muito mais. 

> If you can't explain it simply, you don't understand it well enough.
> Albert Einstein

## Listas

Aqui uma lista ordenada:

1. Albert Einstein
2. Carl Sagan
3. Guido van Rossum

Aqui está uma lista não ordenada:

- Albert Einstein
- Carl Sagan
- Guido van Rossum

## Imagem e links

Olha só:

![A logo do Python](https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg)

A imagem acima está [neste link](https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg).

## Tabela

Abaixo uma tabela HTML:

| Aqui temos uma tabela | Com mais uma coluna |
|-----------------------|---------------------|
| Aqui temos uma linha  | Outra coluna        |
| Aqui temos uma linha  | Outra coluna        |
| Aqui temos uma linha  | Outra coluna        |
| Coluna                | Outra               |

## Abaixo uma linha horizontal

a

---

b

## HTML puro

<div style="padding: 30px; margin: 10px; background: #ccc;">
<p>Aqui vemos um &lt;p&gt;. Você pode usar qualquer tag HTML normal.</p>
</div>

# Renderizando HTML

In [2]:
%%HTML
<span style="color: red;">
<b>ISSO É HTML</b><br />
Este texto deve estar vermelho.
</span>

In [3]:
%%HTML
<h1>Vídeo do youtube</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/T17BTNKBeJY" frameborder="0"></iframe>

# Gráficos com matplotlib

Um exemplo de USO do módulo `matplotlib`.

Primeiro vamos instalar o módulo usando `!` antes do comando.

In [4]:
!pip install matplotlib

^C

In [5]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots()

fruits = ['apple', 'blueberry', 'cherry', 'orange']
counts = [40, 100, 30, 55]
bar_labels = ['red', 'blue', '_red', 'orange']
bar_colors = ['tab:red', 'tab:blue', 'tab:red', 'tab:orange']

ax.bar(fruits, counts, label=bar_labels, color=bar_colors)

ax.set_ylabel('fruit supply')
ax.set_title('Fruit supply by kind and color')
ax.legend(title='Fruit color')

plt.show()

ModuleNotFoundError: No module named 'matplotlib'

# Comandos no seu computador

Use o `!` para comandos do seu computador.

In [5]:
!ping 127.0.0.1 -c 5

PING 127.0.0.1 (127.0.0.1): 56 data bytes
64 bytes from 127.0.0.1: icmp_seq=0 ttl=64 time=0.037 ms
64 bytes from 127.0.0.1: icmp_seq=1 ttl=64 time=0.171 ms
64 bytes from 127.0.0.1: icmp_seq=2 ttl=64 time=0.797 ms
64 bytes from 127.0.0.1: icmp_seq=3 ttl=64 time=0.586 ms
64 bytes from 127.0.0.1: icmp_seq=4 ttl=64 time=0.257 ms

--- 127.0.0.1 ping statistics ---
5 packets transmitted, 5 packets received, 0.0% packet loss
round-trip min/avg/max/stddev = 0.037/0.370/0.797/0.280 ms

# timeit

Você pode ver quanto tempo levou para realizar alguma operação com `%%timeit`.

In [6]:
%%timeit
lista = [x * 2 for x in range(100000)]

2.48 ms ± 12.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# Exibindo Pandas Dataframe

In [7]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in ./venv/lib/python3.11/site-packages (1.24.2)
Collecting pandas
  Downloading pandas-1.5.3-cp311-cp311-macosx_11_0_arm64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 8.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.11/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in ./venv/lib/python3.11/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.5.3

In [8]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(18,5))
df

           0         1         2         3         4
0   1.294654  1.225407  0.667927  0.759970 -0.083937
1   0.374234 -0.485277 -0.510499  0.140018 -0.186759
2   0.870954 -1.125351 -0.149405  1.798478 -1.199871
3   0.068925 -1.689795  2.298880  0.755638 -0.585057
4  -0.603612  0.191454  1.636797  0.396244 -0.133369
5   1.049888  0.764657  0.497842 -0.474002 -1.134222
6  -0.216218 -2.036079 -1.460034 -1.004030 -1.167232
7   0.392413  0.327364 -0.586026  1.293106 -0.915008
8  -0.220137 -0.295776  1.426281 -0.783319 -1.033458
9  -1.223821  0.447848 -0.134580  1.212411  1.438265
10 -0.720095  2.313858  0.814957 -1.014996 -0.206972
11 -0.240504 -0.562041  0.092123 -1.061941  0.554129
12 -0.496803  0.012167 -1.686492 -0.953233 -1.897452
13  1.066488  0.238337  1.085256  0.933488  1.422043
14 -0.163235 -1.566865  0.640183 -0.053335  1.849781
15  1.285187  0.900688  0.548796 -0.490966  0.116574
16  1.791797  0.459082  0.026875  0.506279 -0.131219
17  1.536301  0.456350  0.426322  0.524374  2.521286